body{
  font-family: 'Open Sans',sans-serif;
  margin: 0;
}

header .line{
  background-color:#117050;
  height: 10px;
}

.container{
  max-width: 1140px;
  margin: 0;
  width: 100%;
}

.header-area{
  display: flex;
  justify-content: space-between;
  height:100px;
  align-items:center;

}

.header-rigth{
  display: flex;
  align-items: center;
}

.header-left{
  display: flex;
  margin: 15px;
}

.header-left img{
  height: 64px;
  width:64px;
}
.header-search form{
  display: flex;
}

.header-search input{
  font-size: 16px;
  padding:7px 10px;
  border:1px solid rgb(200, 200, 200);
  outline:0;
  width: 100%;
  max-width:220px;
}

.header-search button{
  background-color: transparent;
  border:0;
  margin-left: -34px;
  cursor: pointer;
}

.header-search img{
  width:16px;
  height:16px;
}

.header-menu{
  margin-left: 250px;
  cursor: pointer;
  margin-top: -30px;
  
}

.header-menu img{
  height: 24px;
  width: 24px;
}

.banner{
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center;
  padding-top:90px;
  padding-bottom: 70px;
  
}

.banner h1{
  font-size: 90px;
  font-weight: bold;
  font-family: 'Oswald';
  line-height:100px;
  margin:auto;
  margin-bottom: 30px;
  padding-bottom: 70px;
}

.banner-images{
  margin-top:60px;
  
}

.banner-images img{
height: 148px;
width: 148px;
border: 6px solid #117050;
border-radius: 50%;
margin-right: 40px;

}

.area1--content{
  padding: 80px;
}

.area1{
  display:grid;
  grid-template-columns: repeat(2 ,1fr);
}

.area1--img1{
  background-color: green;
  background-image: url('../img/f2.jpg');
  background-position: center;
  background-size: cover;
  height:350px;
}

.area1--img2{
  grid-column: 2 /3;
  grid-row: 1/3;
  background-image: url('../img/f1.jpg');
  background-position: center;
  background-size: cover;
}

.bar{
  height:22px;
  width: 168px;
  background-color: #117050;
}

h2{
  font-family: 'Oswald';
  font-weight: bold;
  font-size:30px;
  line-height:40px;
}

.area1-quote{
  font-family:'Open Sans';
  font-size:18px;
  color:#999;
  margin-bottom:30px;
}

.area1--text{
  font-family:'Open Sans', sans-serif;
  line-height:20px;
  color:#999;
  text-align:center;
}

.button{
  border: 2px solid #454545;
  padding: 10px 30px;
  text-decoration: none;
  display: inlne-block;
  border-radius: 3px;
  color:#454545;
}

.button:hover{
  border: 2px solid #454545;
  padding: 10px 30px;
  text-decoration: none;
  display: inlne-block;
  border-radius: 3px;
  background-color:#454545;
  color:#fff;
}

.area1--text{
  margin-bottom:50px;
  line-height:25px;
}







.area2--content{
  padding: 80px;
}

.area2{
  display:grid;
  grid-template-columns: repeat(2 ,1fr);
}

.area2--img1{
  background-color: green;
  background-image: url('../img/f4.jpg');
  background-position: center;
  background-size: cover;
  height:350px;
}

.area2--img2{
  grid-column: 1 /2;
  grid-row: 1/3;
  background-image: url('../img/f3.jpg');
  background-position: center;
  background-size: cover;
}

.bar{
  height:22px;
  width: 168px;
  background-color: #117050;
}

h2{
  font-family: 'Oswald';
  font-weight: bold;
  font-size:30px;
  line-height:40px;
}

.area2-quote{
  font-family:'Open Sans';
  font-size:18px;
  color:#999;
  margin-bottom:30px;
}

.area2--text{
  font-family:'Open Sans', sans-serif;
  line-height:20px;
  color:#999;
  text-align:center;
}

.button{
  border: 2px solid #454545;
  padding: 10px 30px;
  text-decoration: none;
  display: inlne-block;
  border-radius: 3px;
  color:#454545;
}

.button:hover{
  border: 2px solid #454545;
  padding: 10px 30px;
  text-decoration: none;
  display: inlne-block;
  border-radius: 3px;
  background-color:#454545;
  color:#fff;
}

.area2--text{
  margin-bottom:50px;
  line-height:25px;
}




h2{
  font-family: 'Oswald';
  font-weight: bold;
  font-size:30px;
  line-height:40px;
}


.area3--text{
  font-family:'Open Sans', sans-serif;
  line-height:20px;
  color:#999;
  text-align:center;
}

.button{
  border: 2px solid #454545;
  padding: 10px 30px;
  text-decoration: none;
  display: inlne-block;
  border-radius: 3px;
  color:#454545;
}

.button:hover{
  border: 2px solid #454545;
  padding: 10px 30px;
  text-decoration: none;
  display: inlne-block;
  border-radius: 3px;
  background-color:#454545;
  color:#fff;
}

.area3--text{
  margin-bottom:50px;
  line-height:25px;
}

.area3-img1{
  background-image: url(../img/f5.jpg);
  grid-template-columns: 2/3 ;
  grid-template-rows: 1/ 3;
  background-size: cover;
  background-position: center;
}

.area3{
  display:grid;
  grid-template-columns:repeat(2,1fr);
}

.area3-content{
  background-image:url(../img/bg2.jpg);
  padding: 80px;
  background-size: cover;
  background-position: center;

}

.area4{
  display:grid;
  grid-template-columns:400px 1fr;
}

.area4-content{
  padding: 80px;
  background-color:#e8e9ee;
}

.area4-text{
  font-family:'Open Sans', sans-serif;
  line-height:20px;
  color:#999;
  text-align:center;
}

.area4-img1{
  background-image: url(../img/bg3.jpg);
  background-position: left;
}
.button{
  border: 2px solid #454545;
  padding: 10px 30px;
  text-decoration: none;
  display: inlne-block;
  border-radius: 3px;
  color:#454545;
}


.area5{
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg4.jpg);
  height:600px;
}

footer{
  background-color:#333333;
  color: white;
  padding:80px;
  text-align:center;
}



@media  ( min-width:769px) and (max-width : 1140px){

.container{
  padding-left: 20px;
  padding-right: 20px;

}

@media (min-width:426px) and  ( max-width: 768px){ 

.container{
  padding-left: 20px;
  padding-right: 20px;

}

.area1{
  grid-template-columns:3fr 2fr;
}


.area2{
  grid-template-columns:2fr 3fr;
}


.area3{
  grid-template-columns:2fr 3fr;
}

}


@media ( max-width:425px){

.container{
  padding-left: 20px;
  padding-right: 20px;

}

.header-search input{

max-width: 80px;

}

h1{
  font-size:50px;
  line-height:40px;
}


.banner-images img{
  height: 70px;
  width: 70px;
  border: 3px solid #117050;
  border-radius: 50%;
  margin-right: 10px;
  
  }

  .area1--content{
    grid-template-column:1fr
  }

}